body{
  background-color:#F0F8FF;
}
.pic h1{
  text-align:center;
}
#aboutme{
  background-color:#F0F8FF;
  background-size:auto;
  text-align:left;
  margin:25px;
}
#main-navbar{
  background-color:#245c8d;
  overflow:hidden;
  width: 100%;
}
#navbar-container li{
  float:left;
  list-style:none;
  text-align:center;
}
#navbar-container ul{
  text-align:center;
  list-style-type: none;
  margin: 0;
  margin-right:auto;
  margin-left:auto;
  display:inline-block;
  padding:0;
}
#navbar-container{
  text-align:center;
}
img{
  width:30%;
  height:30%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}
#onpage{
  text-decoration:underline overline;
  color:#9932CC;
}
#navbar-container ul li{
  text-align:center;
  padding:30px 60px;
}
#navbar-container li a{
  padding:12px 50px;
}
#navbar-container ul li a{
  color:white;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
}
#navbar-container a:hover{
  background-color:black;
}
#navbar-container a.active{
  background-color:#FF00FF;
}
#aboutme h1{
 font-family:'Inconsolata',monospace;
 color:#909499;
 font-size: 40px;
}
#aboutme p {
  font-family:'Inconsolata',monospace;
  color:#696969;
  font-size: 16px;
  padding-top:20px;
}
/**************************************************************************RESUME.CSS****************************************/
body{
  background-color: #F0F8FF;
  background-size:cover;
  text-align: left;
  margin:25px;
}
/*#main-navbar{
  background-color:#DDA0DD;
  overflow:hidden;
  width:100%;
  position:relative;
}
#navbar-container ul{
  position:relative;
  float:left;
  display:block;
  list-style-type:none;
  margin:0;
  padding:0;
  right:50%;
}
#navbar-container{
  position:relative;
  float:left;
  left:50%;
  display:block;
}*/
#onpage{
  text-decoration:underline overline;
  color:#9932CC;
}
/*#navbar-container ul li{
  float:left;
  padding:30px 60px;
}

#navbar-container ul li a{
  color:white;
  font-size:25px;
        font-weight:bold;
  text-decoration:none;
}*/
h1,p{
 font-family: 'Oswald',sans-serif,Arial;
}
#education,#experience,#skills{
  font-family: 'Oswald',sans-serif,Arial;
  text-align: left;
}
/********************************************************************OTHER.CSS**********************************************************************************************/
#vacation {
  background-color:#F0F8FF;
  background-size:auto;
  text-align:left;
  margin:25px;
}
#vacation h1 {
  font-family: 'Playfair Display', serif;
  color:#483D8B;
  font-size:40px;
}
#vacation p {
  font-family: 'Lora', serif;
  color:#708090;
   font-size:20px;
}
#map{
  width: 100%;
  height: 500px;
  background-color: #ccc;
  margin: 50px auto;
}
/********************************************************************OTHER.CSS**********************************************************************************************/
#photos {
  background-color:#F0F8FF;
  background-size:auto;
  text-align:left;
  margin:25px;
}
div#slideshow{
  max-width:100%;
  max-height:100%;
  margin:auto;
  overflow:hidden;
  position:relative;
}
.slides{
  padding-top:20px;
  width:40%;
  height:500px;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
.music{
  text-align:center;
  width:100%;
}
.music h1{
  text-align:center;
}
.music p{
  text-align:center;
  padding-bottom:1%;
}
.music iframe{
  width:50%;
  height:400px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}
/***********************************************************MEDIA QUERY*****************************************************************************************************/
@media screen and (max-width: 400px){
  /*body#vacation,{
    background-color: green;
  }*/
  /*#navbar-container a,ul{
    margin-right:auto;
    margin-left:auto;
    width:100%;
  }*/
  #map{
    width:100%;
  }
  #navbar-container ul li{
    text-align:center;
    width:65%;
  }
  .slides{
    width:100%;
  }
  img{
    width:100%;
  }
  #aboutme p{
    padding-top:20px;
  }
  .music iframe{
    width:100%;
  }
}
@media screen and (max-width:800px){
  #navbar-container ul li{
    width:85%;
  }
  .slides{
    width:100%;
  }
  img{
    width:100%;
  }
  .music iframe{
    width:100%;
  }
}
