#aboutme{
  background-color: F0F8FF;
     background-size:cover;
     text-align:left;
     margin:25px;
}
#main-navbar{
  background-color: #DDA0DD;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}
 img{
     width: 30%;
     height: 30%;
     display: block;
     margin-right: auto;
     margin-left: auto;
}
#onpage{
  text-decoration: underline overline;
  color: #9932CC;
}

#navbar-container ul li{
  float: left;
  padding: 30px 60px;
}

#navbar-container ul li a{
  color: white;
  font-size: 25px;
        font-weight: bold;
  text-decoration: none;
}
#aboutme h1{
 font-family: 'Inconsolata', monospace;
  color:#909499
    font-size: 40 px;
}
#aboutme p {
  
   font-family: 'Inconsolata', monospace;
  color:808080;
    font-size: 16 px;
}
/**************************************************************************RESUME.CSS**********************************************************************************************/
#resume{
  background-color:#E6E6FA;
     background-size:cover;
     text-align: left;
     margin:25px;
}


#main-navbar{
  background-color: #DDA0DD;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}

#onpage{
  text-decoration: underline overline;
  color: #9932CC;
}

#navbar-container ul li{
  float: left;
  padding: 30px 60px;
}

#navbar-container ul li a{
  color: white;
  font-size: 25px;
        font-weight: bold;
  text-decoration: none;
}
#resume h1, {
 font-family: 'Abril Fatface', cursive;
  color:#DarkSlateGrey
    font-size: 20px;

}
#resume h2 {
 font-family: 'Fira Sans Condensed', sans-serif;
  color:#DarkSlateGrey
    font-size: 25px;
#resume p {
 font-family: 'Inconsolata', monospace
  color:#808080;
    font-size: 12px;

}
#education, #experience, #skills {
  font-family: 'Inconsolata', monospace
     text-align: left;
  }
/********************************************************************OTHER.CSS**********************************************************************************************/


#main-navbar{
  background-color: #DDA0DD;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}
 img{
     width: 30%;
     height: 30%;
     display: block;
     margin-right: auto;
     margin-left: auto;
}
#onpage{
  text-decoration: underline overline;
  color: #9932CC;
}

#navbar-container ul li{
  float: left;
  padding: 30px 60px;
}

#navbar-container ul li a{
  color: white;
  font-size: 25px;
        font-weight: bold;
  text-decoration: none;
}


  /********************************************************************OTHER.CSS**********************************************************************************************/
#vacation {
  background-color:#F0F8FF;
     background-size:cover;
     text-align: left;
     margin:25px;
}
#main-navbar{
  background-color: #DDA0DD;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}
  
  #onpage{
  text-decoration: underline overline;
  color: #9932CC;
}

#navbar-container ul li{
  float: left;
  padding: 30px 60px;
}

#navbar-container ul li a{
  color: white;
  font-size: 25px;
        font-weight: bold;
  text-decoration: none;
}
  
  #map {
        width: 900px;
        height: 500px;
        background-color: #ccc;
        margin: 50px auto;
                }
/********************************************************************OTHER.CSS**********************************************************************************************/
#photos {
  background-color:#E6E6FA;
     background-size:cover;
     text-align: left;
     margin:25px;
  }
  
  div#slideshow{
  max-width:100%;
  max-height:100%;
  margin:auto;
  overflow:hidden;
  position:relative;
}
.slides{
  padding-top:20px;
  width:40%;
  height:800px;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
