#aboutme
{
  background-color: azure;
     background-size:cover;
     text-align: center;
     margin:25px;

}


#main-navbar{
  background-color: #DDA0DD;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}

#onpage{
  text-decoration: underline overline;
  color: #9932CC;
}

#navbar-container ul li{
  float: left;
  padding: 30px 60px;
}

#navbar-container ul li a{
  color: white;
  font-size: 25px;
        font-weight: bold;
  text-decoration: none;
}
h1,  p{
  font-family: "Courier New", Courier;

}
#map {
        width: 900px;
        height: 500px;
        background-color: #ccc;
        margin: 50px auto;
                }
/**************************************************************************RESUME.CSS**********************************************************************************************/
body
{
  background-color:#E6E6FA;
     background-size:cover;
     text-align: left;
     margin:25px;

}


#main-navbar{
  background-color: #DDA0DD;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}

#onpage{
  text-decoration: underline overline;
  color: #9932CC;
}

#navbar-container ul li{
  float: left;
  padding: 30px 60px;
}

#navbar-container ul li a{
  color: white;
  font-size: 25px;
        font-weight: bold;
  text-decoration: none;
}
h1,  p{
 font-family: 'Oswald', sans-serif;

}
#education, #experience, #skills {
     font-family: 'Oswald', sans-serif,arial;
     text-align: left;

}
/********************************************************************OTHER.CSS**********************************************************************************************/
div#slideshow{
  max-width:100%;
  max-height:100%;
  margin:auto;
  overflow:hidden;
  position:relative;
}
.slides{
  padding-top:20px;
  width:40%;
  height:800px;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
