#main-navbar{
  background-color: ;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#navbar-container ul{
  position: relative;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
}

#navbar-container{
  position: relative;
  float: left;
  left: 50%;
  display: block;
}

#navbar-container ul li{
  float: left;
  padding: 10px 20px;
}

#navbar-container ul li a{
  color: #fff;
  text-decoration: none;
}
