#indexpage {

 background-color: #EFCCFF;
     background-size:cover;
     text-align: center;
     margin:15px;
     }
     
nav#navbar {

	background-color:2b093a;
     margin: 0 auto;
     font-family: 'Roboto', sans-serif
     text-align: center;
     width:80%;
}
nav#navbar ul{
	list-style: none;
     padding:0;
}

nav#navbar ul,li{
 display:inline;
}
nav#navigation ul li a {
     display:inline-block;
     padding:15px;
     color:gray;
     background-color:#2b093a;
     color:#16041e;
     font-weight: bold;
     text-align: center;
}

 nav#navigation ul li a:hover {
     color:white;
}

img{
 	float: left;
    opacity: 0.8;
    border-radius: 20%;
    padding: 0px 30px 10px 0px;
    width: 300px;
    margin-left: 25px;
}
h1{
color:320e3e;
font-size: 25px;
margin: 5px
}


p, li, ul{
    color: #320e3e;
    list-style: none;
}
