@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;
}

body {
  background-color:LavenderBlush;
  font-family:Inconsolata;
}
h1{
  color:Indigo;

}
strong{
  color:black;
}
ul li {
  color: DarkGrey
}

h1,h2,h3,h4,p {

  color: Grey;
  font-family:Inconsolata;
}
img {
  max-width:100%;
  height:auto;
}
embed{
	padding: 30px 120px 30px 650px;
} 
#nav {
  text-align: center;
  height: 3.2em;
  line-height: 3.2em;
  background: #FFFFFF;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0 0 30px;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  color: DarkGrey;
  font-family: Inconsolata;
  padding: 10px;
}
.index h1{
  text-align: center;
}

@media screen and (min-width: 320px) {
  body {
    padding-right: 5%;
    padding-left: 5%;
  }
  img,
  video,
  audio {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  img,
  video,
  audio {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}